@using HospedApp.Core.Entities;
@model IEnumerable<Bed>;
@{
    ViewData["Title"] = "Beds";
}

<div>
    <br>
    <div class=" text-center">
        <h1>Buscar camas</h1>
        <br>
    </div>

    <div class="input-group mb-3 input">
        <input id="searchInput" type="text" class="form-control" placeholder="Buscar">
    </div>
    <div>
        @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Index"))
        {
            <p>No se encontraron camas.</p>
        }
        else
        {
            <h3>Lista de Camas</h3>
            <div>
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Pueden dormir</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bed in Model)
                        {
                            <tr>
                                <td>@bed.Name</td>
                                <td>@bed.CanSleep</td>
                                <td>
                                    <a asp-action="Modify" asp-route-id="@bed.IdBed">Modificar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>