@using HospedApp.Core.Entities;
@model Bed;
@{
    var texto = Model is null ? "Modificar Bed" :  "Alta Bed";
    ViewData["Title"] = texto;
}

<form asp-controller="Bed" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    {
        <div><input type="hidden" asp-for="@Model.IdBed" /></div>
    }
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Ingrese su Name" required />
    </div>
    <div class="mb-3">
        <label asp-for="CanSleep" class="form-label">CanSleep</label>
        <input asp-for="CanSleep" class="form-control" placeholder="Ingrese su CanSleep" required />
    </div>
    <div class="mb-3">
        @if (Model is null)
        {
            <button type="submit" class="btn btn-warning">@texto</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">@texto</button>
        }
    </div>
</form>

@if(TempData["Error"] != null)
{
    <p>@TempData["Error"]</p>
}