@using HospedApp.Core.Entities;
@model Bed;
@{
    var texto = Model!.Name != null ? "Modificar Cama" : "Alta Cama";
    ViewData["Title"] = texto;
}

<form asp-controller="Bed" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    {
        <div><input type="hidden" asp-for="@Model.IdBed" /></div>
    }
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Ingrese su nombre" required />
        </div>
        <div class="col-md-6">
            <label asp-for="CanSleep" class="form-label">CanSleep</label>
            <input asp-for="CanSleep" class="form-control" placeholder="Cuántos duermen" required/>
        </div>
    </div>
    <div class="mb-3">
        @if (Model!.Name != null)
        {
            <button type="submit" class="btn btn-warning">@texto</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">@texto</button>
        }
    </div>
</form>
