/* Estilos generales para las tablas */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
    background-color: #1e1e1e;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    table-layout: auto;
}

/* Estilos para las celdas de la tabla */
.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

/* Estilos para el encabezado de la tabla */
.table thead th {
    background-color: #333;
    color: #ffffff;
    font-weight: 600;
}

/* Estilos para el efecto hover en las filas de la tabla */
.table tbody tr:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

/* Estilos para los enlaces dentro de la tabla */
.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}

/* Estilos para hacer la tabla responsive */
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }

    .table-responsive table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-responsive thead {
        display: none;
    }

    .table-responsive tbody tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #333;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .table-responsive tbody td {
        display: block;
        text-align: right;
        padding: 12px;
        border-bottom: 1px solid #333;
    }

    .table-responsive tbody td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: #ffffff;
    }
    .col-12::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: #ffffff;
    }
    .col-12{
        text-align: right;
        font-weight: 400;
        color: #ffffff;
    }

    .table-responsive tbody td:last-child {
        border-bottom: 0;
    }
}