/* Estilos para las tablas */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
    background-color: #1e1e1e;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    table-layout: auto; /* Permite que el navegador ajuste automáticamente el ancho de las columnas */
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Ajusta según tus necesidades */
}

.table thead th {
    background-color: #333;
    color: #ffffff;
    font-weight: 600;
}

.table tbody tr:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .table {
        font-size: 0.8rem;
        display: block;
        overflow-x: auto;
    }

    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;
    }

    .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table tr {
        border: 1px solid #333;
        margin-bottom: 10px;
        padding: 10px; /* Añade padding para mejorar la legibilidad */
    }

    .table td {
        border: none;
        border-bottom: 1px solid #333;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        padding: 6px 0; /* Añade padding para mejorar la legibilidad */
    }

    .table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: 600;
        content: attr(data-label);
    }
}