/* Estilos Globales */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

/* Efectos de enfoque para botones e inputs */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* -------------------- Responsividad -------------------- */

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  .login-container {
    padding: 15px;
  }

  .login-container h1 {
    font-size: 1.5rem;
  }

  .login-btn {
    font-size: 1rem;
  }
}

/* Para pantallas grandes */
@media (min-width: 1200px) {
  .login-container {
    padding: 30px;
  }

  .login-container h1 {
    font-size: 2rem;
  }

  .login-btn {
    font-size: 1.25rem;
  }
}


.input {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-color: none;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
}