/* tablas.css */

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color:bisque;
}

.main-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 80px;
}

.container {
    width: 100%;
    max-width: 555px;
    margin-top: auto;
    margin-bottom: auto;
}

.formulario {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

/* Otros estilos... */