@using System.IdentityModel.Tokens.Jwt
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospedApp.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospedApp.MVC.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">HospedApp</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-co using Microsoft.AspNetCore.Authentication.JwtBearer; <span
                    class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item " asp-controller="Client" asp-action="Index">Lista de clientes</a></li>
                            <li><a class="dropdown-item " asp-controller="Client" asp-action="Register">Registrar nuevo cliente</a></li>
                        </ul>
                    </div>
                </div>


                @if (Context.Request.Cookies.TryGetValue("JwtToken", out var token))
                {
                    var handler = new JwtSecurityTokenHandler();
                    var JwtToken = handler.ReadJwtToken(token);
                    var Name = JwtToken.Claims.FirstOrDefault(c => c.Type == "Name")?.Value.Replace("\"", "");
                    var LastName = JwtToken.Claims.FirstOrDefault(c => c.Type == "LastName")?.Value.Replace("\"", "");
                    var FullName = $"{LastName} {Name}";

                    <a class="nav-link text-dark">Bienvenido, @FullName !</a>
                    <form asp-controller="Login" asp-action="Logout" method="post">
                        <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                    </form>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HospedApp - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>